<%= partial(:'common/header') %>
<header>
  <h1>Phylogeny Explorer</h1>
  <a href="/explore" class="button next">Try it Out</a>
</header>
<div class="page">
  <article>
    <h2>What is Phylogeny?</h2>
    <p>The central tenant of Darwin’s Theory of evolution is that all living organisms are related via a process of descent with modification from a common ancestor. Phylogeny is  the manifestation of this pattern, and a vital concept in modern biology. Phylogenies are figures that track the descent from a common ancestor of some group of organisms. These organisms can be closely related (such as populations within a species) or distantly related (such as all living things on the planet). In either case, phylogenies allow biologists to understand the pattern of diversification, to infer degrees of relatedness among the species in the phylogeny, and to produce a rough estimate of the relative timing of diversification. Phylogenies can be estimated using different methods from many sources of data, but it is common for modern phylogenies to be based on the pattern of variation in DNA sequences.</p>
    <h2>Try it Out</h2>
    <ul class="phylogeny-examples">
      <li>
        <a href="/explore"><img src="/data/primates/preview.jpg" title="Click to explore ape phylogeny" /></a>
      </li>
    </ul>  
  </article>
  <div class="sidebar">
    <aside>
      <h2>An Example Phylogeny</h2>
      <a href="/images/examples/basetree.jpg"><img src="/images/examples/basetree-preview.jpg" alt="Example Phylogenetic Tree" /></a>
    </aside>
    <aside>
      <h2>An Example Data Set</h2>
      <a href="/images/examples/example-data.png"><img src="/images/examples/example-data-preview.jpg" alt="Example Phylogenetic Data Set" /></a>
    </aside>
  </div>
</div>
<%= partial(:'common/footer') %>