<%= partial(:'common/header') %>
<header>
  <h1>Phylogeny Explorer</h1>
  <a href="/" class="button">Home</a>
</header>
<section class="results">
  <% if !@species.nil? %>
    <p>You selected...</p>
    <ul>
    <% @species.each do |s| %>
      <li>
        <strong><%= s.name %></strong>
      </li>
    <% end %>
    </ul>  
  <% else %>
    <p>You didn't select any species</p>
  <% end %>
  <h2>Testing generator end point...</h2>
  <div id="generator-test"></div>
  <h2>Testing tree generation...</h2>
  <div id="phylogeny-canvas"></div>
</section>
<script>
  $(document).ready(function(){
    $.ajax({
      type: 'POST',
      url: '/generate',
      data: { species: "<%= @species.map{ |s| s.id }.join(',') %>" },
      success: function(data) {
        $('#generator-test').html(data);
        var dataObject = { newick: data };
        var phylocanvas = new Smits.PhyloCanvas(
          dataObject,
          'phylogeny-canvas', 
          500, 500
        );
      }
    });
  });
</script>
<%= partial(:'common/footer') %>